<!--
  Raw keyop configuration for working with the default kobuki launcher (minimal.launch). 
 -->

<launch>
  <arg name="robot_name"/>
  <node pkg="wandrian_keyop" type="keyop" name="$(arg robot_name)_keyop" output="screen">
    <remap from="$(arg robot_name)_keyop/motor_power" to="/$(arg robot_name)/mobile_base/commands/motor_power"/>
    <remap from="$(arg robot_name)_keyop/cmd_vel" to="/$(arg robot_name)/mobile_base/commands/velocity"/>
    <param name="linear_vel_step"  value="0.05" type="double"/>
    <param name="linear_vel_max"   value="1.5"  type="double"/>
    <param name="angular_vel_step" value="0.33" type="double"/>
    <param name="angular_vel_max"  value="6.6"  type="double"/>
    <param name="wait_for_connection_" value="true" type="bool"/>
  </node>
</launch>
