<?xml version="1.0"?>
<robot name="gazebo_hokuyo" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Hokuyo LIDAR for simulation -->
  <xacro:macro name="gazebo_hokuyo">
    <gazebo reference="laser_sensor_link">
      <sensor name="laser_sensor" type="ray">
        <pose>0.01 0 0.0175 0 0 0</pose>
        <ray>
          <scan>
            <horizontal>
              <samples>27</samples>
              <resolution>1</resolution>
              <min_angle>${-M_PI*2/3}</min_angle>
              <max_angle>${M_PI*2/3}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.1</min>
            <max>0.55</max> <!-- bigger than robot size -->
            <resolution>0.01</resolution>
          </range>
        </ray>

        <plugin name="laser" filename="libgazebo_ros_laser.so">
          <topicName>/mobile_base/sensors/laser</topicName>
          <frameName>/mobile_base/sensors/laser</frameName>
        </plugin>
        <always_on>1</always_on>
        <update_rate>30</update_rate>
        <visualize>true</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
